main{
    margin: auto 3%;
}

h1{
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 77.45px;
    letter-spacing: -0.04em;
    text-align: left;
    text-align: center;
}
.div1{
    display: flex;
}

.div1 img{
    margin: auto;
}

.divformulaire{
    margin: auto;
}

.name{
    margin-right: 30px;
}
.subject{
    margin-right: 30px;
}

.input1{
    display: flex;
}
.input2{
    display: flex;
}

input{
    width: 400px;
    height: 60px;
    border-radius: 16px;
}
#inputenquiry{
    width: 410px;
    height: 65px;
    border-radius: 16px;
    border: 2px solid black;
}

.message textarea{
    width: 840px;
    height: 200px;
    border-radius: 16px ;


}

.bouton{
    width: 100%;
    text-align: center;
}

button{
    width: 180px;
    height: 64px;
    border-radius: 16px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

/*____________sec7______________*/


#sec7{
    width: 100%;

}

.divsec7{
    width: 100%;
    height: 442px;
    margin: auto;
    margin-top: 150px;
    background-color: #E8F9FD;
    border-radius: 60px;
    position: relative;
}

#img1sec7{
    position: absolute;
    bottom: 0;
    border-radius: 0 0 0 60px;
}
#img2sec7{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0  0 60px 0 ;
}



#titretexte h2{
font-size: 48px;
font-weight: 600;
line-height: 58.09px;
letter-spacing: -0.04em;

}

.divsec7 #titretexte{
    text-align: center;
    margin: auto;
    width: 589px;
    height: 290px;
    padding-top: 40px;
    position: relative;

}

#emailsec7{
    margin-top: 50px;
    width: 480px;
    height: 80px;
    border-radius: 24px;
    


}
#boutoninput{
    position: absolute;
    color: white;
    background-color: black;
    width: 160px;
    height: 60px;
    top: 275px;
    right: 60px;
    border-radius: 16px;
    opacity: 0px;

}
/*_____sec4(copie_du_sec6)___*/


.titresec4 h2{
    text-align: center;
    margin: 170px 0 80px 0;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    letter-spacing: -0.04em;
    text-align: center;

}

#sec6{
    display: flex; 
    justify-content: space-between;  
    width: 100%;
}

.blocksection6 img{
    
    height: auto;
    width: 400px;
    border-radius: 20px ;

    
}

.divtitreblock h2{
    width: 290px;
    height: 52px;
    font-family: Inter;
    font-size: 18px;


    text-align: left;


}
.info1{
    width: 290px;
    display: flex;

}
.info1 img{
    width: 24px;
}
.minute{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.Healthy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}





